<div class="col-md-6 col-md-offset-4">
<p id="notice"><%= notice %></p>
<h1>Games</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="text-align: center">Name</th>            
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>                
        <td align="center"><div class="btn btn-primary btn-lg active"><%= link_to game.name, "games/" + game.id.to_s %></div></td>        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

